{% extends "learning_logs/base.html" %}

{% block header %}
<div class="jumbotron" style="background-color:orange;color:#fff;text-shadow:5px 5px 5px #333;box-shadow:8px 8px 20px #000;border:solid 5px darkgreen;border-radius:20px;">
    <h1>Track yor learning.</h1>
</div>
{% endblock header %}

{%block content %}

<h2>
    <a href="">Registration an account </a> to make your own learning log, and list the topics you're learning about.
</h2>

<h2>Whenever you learn somthing new about a topic, make an entry summariizing what've learned.</h2>
{% endblock content %}
