{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>{{ topic }}</h2>
{% endblock header %}
{% block content%}
<p>Topic: {{topic}}</p>
<p>Entries</p>
<p>
 <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
 </p>
<!--<ul> -->
{% for entry in entries %}
    <!--<li>-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{entry.date_added|date:"M d, Y H:i" }}
                    <small>
                        <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                            edit entry
                        </a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                    {{ entry.text|linebreaks }}
                </div>

        </div><!-- end panel -->

       <!-- <p></p>
        <p>{{entry.date_added|date:"M d, Y H:i" }}</p>
        <p>{{ entry.text|linebreaks}}
        </p>
        <p><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit Entry</a> </p>
    </li>-->
{% empty %}
    There are no entries for this topic yet.
{%endfor%}
   <!-- </ul> -->

{% endblock content %}

